body {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  line-height: 1.45;

  @media(max-width: @group-small){
    &{
      font-size: 1em;
    }
  }
}

#app-chrome {
  margin: 0.5rem;
  height: 100vh;
}

#app-header {
  height: 15vh;
  text-align: center;

  img {
    height: 66%;
  }
}

#app-container {
  height: 85vh;
  overflow-x:hidden;
  width: 100%;
}