.items-list {
  overflow: hidden;
  width: 500%;
}

.items-list__page {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  float: left;
  width: 20%;

  .item {
    box-sizing: border-box;
    margin: 0 1% 1rem 0;
  }
}