.item {
  @spacing: 1rem;

  background-color: #333;
  color: #fff;
  padding: @spacing;
  position: relative;

  .item__cover {
    margin-bottom: 3em;
  }

  &.item--double .item__cover{
    background-position: center center;
    background-size: cover;
    margin-bottom: 0;
    min-height: 10rem;
  }

  .item__title {
    font-size: 1rem;
    margin: 0;
  }

  .item-actions,
  .item-metadata {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item-metadata {
    font-size: 0.7rem;
    left: @spacing;
    position: absolute;
    top: @spacing;

    .item-metadata__data {
      background: #fafafa;
      color: #333;
      display: inline-block;
      margin: 0 @spacing/2 0 0;
      padding: .5em;

      &:empty {
        display: none;
      }
    }
  }
}