.item {
  background-color: fade(@primary-color, 3%);
  color: @primary-color;
  padding: @spacing;
  position: relative;
  width: 49%;

  &:nth-child(n+1) {
    margin-right: 0;
  }


  transition: color .2s ease, background-color .2s ease;

  a {
    color: @primary-color;
  }

  .item__cover {
    background-position: center center;
    background-size: cover;
    margin: -@spacing -@spacing 2.5em;
  }

  /*
   States
  */
  &.item--selected {
    background-color: @secondary-color;
    color: @secondary-bg-color;

    a {
      color: @secondary-bg-color;
    }
  }

  /*
   Double height variation
  */
  &.item--double{
    .item__cover{
      height: 7rem;
      margin-bottom: .5rem;
    }
  }

  /*
   Hero variation
  */
  &.item--hero {
    flex: 0 0 99%;
    height: 10rem;

    .item__title {
      bottom: @spacing;
      color: @primary-bg-color;
      position: absolute;
      text-shadow: 0 0 3px fadeout(#333, 20%);
      z-index: 100;
    }

    .item__cover{
      height: 100%;
      position: absolute;
      width: 100%;

      &:before {
        background-color: fade(#000, 50%);
        content: " ";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }
  }

  /*
   Sub components
   */
  .item__title {
    font-size: 1rem;
    margin: 0;
  }
}

.item-actions,
.item-metadata {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-metadata {
  font-size: 0.7rem;
  left: @spacing;
  position: absolute;
  top: @spacing;

  .item-metadata__data {
    background: @primary-bg-color;
    color: @primary-color;
    display: inline-block;
    margin: 0 @spacing/2 0 0;
    padding: .5em;

    &:empty {
      display: none;
    }
  }
}

.item-actions__playback-link {
  display: block;
  left: 0;
  bottom: 0;
  position: absolute;
  text-indent: -300em;

  background-size: contain;
  height: 2rem;
  width: 2rem;

  .item--audio &{
    background-image: url('../src/assets/icon_audio.png');
  }
  .item--video &{
    background-image: url('../src/assets/icon_video.png');
  }
}

.item-actions__favourites-link {
  display: block;
  right: @spacing / 2;
  bottom: @spacing / 2;
  position: absolute;
  text-indent: -300em;

  background-size: contain;
  height: 2rem;
  width: 2rem;

  background-image: url('../src/assets/icon_add_to_favourites.png');

  .item--favourited &:before {
    background-color: fade(green, 40%);
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
  }
}
